* {
    padding: 0;
    margin: 0;
}

#game {
    width: 400px;
    height: 500px;
    border: 2px solid blue;
    margin: auto;
    overflow: hidden;
}

#block {
    width: 50px;
    height: 500px;
    background-color: blue;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 400px
    }

    100% {
        left: -50px
    }
}

#safezone {
    width: 50px;
    height: 150px;
    background-color: red;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}