/* Changing browser default style */
* {
    padding: 0;
    margin: 0;
}

/* Start button style */
.start {
    width: 80px;
    height: 40px;
    background-color: rgb(56, 249, 56);
    font-family: 'Roboto', serif;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 225px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    z-index: 1;
}

/* Counter element style */
.counter-element {
    font-family: 'Fredoka One';
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 70px;
    transform: translateX(-50%);
}

/* High score style */
.high-score {
    font-family: 'Roboto', serif;
    position: absolute;
    top: 0px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
}

/* Game over text style */
.game-over {
    text-align: center;
    font-family: 'Fredoka One';
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

/* Hidden end game image */
.hidden {
    display: none;
}

/* End game image style */
.gameover-dumbo {
    position: relative;
    top: 75px;
    width: 300px;
    height: 175px;
}

/* animate background */
@keyframes animate-background {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000% 0;
    }
}

/* Create game window */
#game {
    background-image: url(assets/sky5.jpg);
    background-size: 800px 485px;
    width: 400px;
    height: 500px;
    border: 2px solid blue;
    margin: auto;
    position: relative;
    overflow: hidden;
    animation: animate-background 80s linear infinite;
}

/* Creating block */
#block {
    width: 50px;
    height: 500px;
    background-color: whitesmoke;
    position: relative;
    left: 400px;
}

.block-animation {
    animation: block 2s infinite linear;
}

/* Block right to left animation */
@keyframes block {
    0% {
        left: 400px
    }

    100% {
        left: -50px
    }
}

/* Creating safe zone in block */
#hole {
    width: 50px;
    height: 175px;
    background: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    opacity: 0.75;
    position: relative;
    left: 400px;
    top: -500px;
}

/* Create character */
#character {
    position: absolute;
    top: 100px;
}