/* Changing browser default style */
* {
    padding: 0;
    margin: 0;
}

.start {}

/* Create game window */
#game {
    background-image: url(assets/sky.png);
    width: 400px;
    height: 500px;
    border: 2px solid blue;
    margin: auto;
    /* overflow: hidden; */
}

/* Creating block */
#block {
    width: 50px;
    height: 500px;
    background-color: whitesmoke;
    position: relative;
    left: 400px;
}

.block-animation {
    animation: block 2s infinite linear;
}

/* Block right to left animation */
@keyframes block {
    0% {
        left: 400px
    }

    100% {
        left: -50px
    }
}

/* Creating safe zone in block */
#hole {
    width: 50px;
    height: 150px;
    background-color: #72bce1;
    position: relative;
    left: 400px;
    top: -500px;
}

/* Create character */
#character {
    position: absolute;
    top: 100px;
}